.content {
  position: relative;
  display: flex;
  flex-direction: column;
  //  padding-top: 20px;

  .btn {
    background-color: rgba(9, 160, 211, 0.897) !important;
    width: 90% !important;
    height: 40px !important;
    font-size: 16px !important;
    padding: 0px !important;
}

  .title {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 7px;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 15px;

    .icon {
      margin-right: 5px;
    }
  }

  .base {
    width: 93%;
    margin: 0 auto;
    //  padding-left: 18px;
    //  padding-right: 18px;
    background-color: #1c1542;
    border: solid 1px transparent;
    color: #ffff;
    margin-top: auto;
    padding-top: 10px;
    //padding-bottom: 20PX;
    font-size: 16PX;
    font-weight: 700;
    height: 66PX;
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.45);

    &:hover {
      background-color: #73e0f8;
      box-shadow: 7px 7px 8px 0px rgba(0, 0, 0, 0.45);
      color: black;
    }
  }

  button {
    @extend .base;
  }

  .new-btn {
    @extend .base;
  }

  .storemodule {
    width: 100%;
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    a {
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      width: 48%;
      height: max-content;
      padding: 10px 15px;
      border-radius: 5px;
      box-shadow: 0px 3px 10px 0px #3f4e4e;
      margin-bottom: 10px;
      background-color: darkcyan;

      span {
        font-size: 16px;
        color: white;
      }

      img {
        width: 40px;
        height: 40px;
      }
    }

    a:first-child {
      background-color: darkcyan;
    }

    a:nth-child(2) {
      background-color: royalblue;
    }

    a:nth-child(3) {
      background-color: yellowgreen;
    }

    //
    a:nth-child(4) {
      background-color: darkorchid;
    }

    a:nth-child(5) {
      background-color: darksalmon;
    }

    a:nth-child(6) {
      background-color: darkturquoise;
    }

    a:nth-child(7) {
      background-color: lightslategrey;
    }

    a:nth-child(8) {
      background-color: orangered;
    }

    a:nth-child(9) {
      background-color: palevioletred;
    }
  }
}
